.nav__link
{
    display: flex;
    flex-direction: column;
}
.img__fst
{
    width: 70vw;
    height: auto;
    margin-left: 3rem;
}
.img__scd
{
    width: 80vw;
    height: auto;
    margin-left: 2rem;
}
main
{
    width: 95vw;
    font-size: 1em;
}
h2
{ 
    text-align: center;
}
h1
{
    position: initial;
}
video
{
    width: 90vw;
}
.footer__content
{
    font-size: 0.6em;
}
i
{
    margin-top: 1em;
    font-size: 0.8em;
}
@media (min-width: 600px) and (max-width: 1099px)
{
    h1
  {
    position: initial;
  }
  .nav__link
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.img__fst
{
    width: 20vw;
}
}

@media (min-width: 1100px)
{
h1
    {
        position: absolute;
    }
article
{
    border-bottom: solid 1px grey;
    border-right: solid 1px grey;
    margin-top: 3em;
    padding-left: 1em; 
    text-align: center;
}
main 
{
    width: 65vw;
    font-size: 1.1em;
}
.img__scd
{
    width: 20vw;
    margin-top: 2em;
}
ul li 
{
    list-style-type: none;
}
.img__fst
{
    height: 50vh;
    width: 15vw;
    margin-bottom: 4em;
}

.article__content-fst
{
    display: flex;
    justify-content: space-around;
}
.article__content
{
    text-align: left;
    display: inline;
}
hr
{
    width: 20vw;
}

.article__content-scd
{
    text-align: left;
    margin-left: 7em;
}
.article__content-thd
{
    text-align: center;
}
video
{
    margin-bottom: 2em;
    width: 420px;
    height: 340px;
}
.footer__content
  {
      font-size: 0.7em;
      font-weight: bold;
  }
.article__content
{
    width: 20vw;
    margin-top: 3em;
}
.nav__link
{
    flex-direction: row;
}
}
@media (max-width: 320px)
{
    h1{
        display:none;
    }
}
@media (max-height: 800px)
{
    h1{
        position: initial;
    }
}